<!-- app/views/user_mailer/welcome_email.html.erb -->
<h1>Welcome to Our Platform, <%= @user.first_name %>!</h1>
<p>
  Thank you for registering with us. We are excited to have you on board.
  Please <a href="<%= @url %>">log in</a> to get started.
</p>
